/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/10/2019, 01:46:18 PM
    Author     : Usuario
*/

body {
    margin: 0;
}

.main {
    margin: 2px;
    padding: 5px;
     border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 1px solid #360c0c;
}

.botones a {
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 1px solid #f54949;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    padding: 10px;
    color: #666666;
}
        
.botones a:hover {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 900;
    background-color: #FFCCFF;
    text-decoration: none;
    color: #FF0000;
}

h1{
    text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d7604b;
  color: black;
}

.topnav a.active {
  background-color: #d7604d;
  color: white;
}

.topnav img{
    float: right;
}